# Primary API origin (used for docs/certs)
API_ORIGIN=http://192.168.1.100 # your local server IP address if self hosting ; leave off port if hosting on alternate port

# Listener ports
PROXY_PORT=80 # 80 for HTTP, 443 for HTTPS. This is what Nest talks to
CONTROL_PORT=8081 # This is what the frontend talks to

# Entry key lifetime (seconds)
ENTRY_KEY_TTL_SECONDS=3600

# Debug logging (logs all requests and responses to console)
# Set to true to enable
DEBUG_LOGGING=false

SQLITE3_ENABLED=true
SQLITE3_DB_PATH=./data/database.sqlite