# Primary API origin (used for docs/certs)
API_ORIGIN=http://10.0.1.218:9543

# Listener ports
PROXY_PORT=9543
CONTROL_PORT=8081


# Entry key lifetime (seconds)
ENTRY_KEY_TTL_SECONDS=3600

MQTT_BROKER_URL=http://10.0.1.15
MQTT_USERNAME=
MQTT_PASSWORD=